@charset "UTF-8";
/* 左侧导航*/
.sidebar-menu li.active > .treeview-menu {
  display: block; }

.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px; }

.sidebar-menu li a {
  position: relative; }

.Hui-aside .menu_dropdown ul .menu_dropdown-arrow {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 20px;
  transition-duration: 0.3s;
  transition-property: all; }

/* 权限分配    */
.ms-container {
  background: transparent url("../images/switch.png") no-repeat 50% 50%;
  width: 370px; }

.ms-container:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden; }

.ms-container .ms-selectable, .ms-container .ms-selection {
  background: #fff;
  color: #555555;
  float: left;
  width: 45%; }

.ms-container .ms-selection {
  float: right; }

.ms-container .ms-list {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ddd;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto; }

.ms-container .ms-list.ms-focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9; }

.ms-container ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }

.ms-container .ms-optgroup-container {
  width: 100%; }

.ms-container .ms-optgroup-label {
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999; }

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 14px; }

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #148cf1; }

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
  background-color: #eee;
  color: #aaa;
  cursor: text; }

/*图文列表预览*/
.style_preview{
	padding:10px 20px 120px 20px;
	width:250px;
	/*background:url(../images/img/img_0001.png) no-repeat;*/
	border-radius: 15px;
	background: #000;
	background-size: 100%;
	clear:all;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top:-30px;
}
.style_preview_cont{
	background: #fff;
	padding: 15px;
	clear:all;
	height: 350px;
	OVERFLOW-X:auto;
}
.style_preview_div{
	padding:0;
	height:120px;
	margin-bottom: 10px;
	clear:all;
	position: relative;
}
.style_preview_abs{
	position: absolute;
	bottom: 0px;
	height: 36px;
	line-height: 36px;
	width:96%;
	padding: 0 2% 0 2%;
	background-color:rgba(0,0,0,0.5); 
	color: #fff;
	font-size: 16px;
}
.style_preview_div2{
	height: 60px;
	margin-top:10px;
	padding-top: 10px;
	border-top:1px #e3e3e3 solid;
	clear: all;
}
.style_preview_tddiv{
	width:98%;
	height: 24px;
	line-height: 22px;
}
.style_preview_tddiv2{
	width:98%;
	height: 40px;
	line-height: 20px;
	color:#999;
	font-size: 14px;
}
.style_preview_val{
	position:absolute;
	width:250px;
	height:40px;
	left:50%;
	bottom:80px;
	transform:translate(-50%,0px);
	-webkit-transform:translate(-50%,0px);
}
.style_preview_val .btn-div{
	text-align:center;
}
.style_preview_val .val-div{
	width:200px;
	background:#eee;
	margin-bottom:15px;
	padding:10px 25px;
}
.style_preview_val .val-div .int{
	border-radius:500px;
	text-align:center;
}

/*弹出层*/
#ShowBigImgDiv{
    position: fixed;
    z-index: 10001;
    display: none;
    cursor: pointer;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	padding:10px;
	background:#3c4f6a;
	box-shadow: 20px 15px 8px 0 rgba(0, 0, 0, 0.2);
        
    }
#FullScreenDiv{
    position: fixed;
    z-index: 10000;
    display: none;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: pointer;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    }
    
 .style_imgenlarge{
 	border-radius:3px;
 	cursor:pointer;
 	width:35px;
 	height:24px;
 }
 .style_voiceenlarge{
 	cursor:pointer;
 	border-radius:3px;
 	background:#0099cc;
 	width:35px;
 	height:22px;
 	padding-top:2px;
 	filter:alpha(opacity=50); 
 	-moz-opacity:0.5; 
 	opacity:0.5;
 }
 .style_videoenlarge{
 	cursor:pointer;
 	border-radius:3px;
 	background:#ed6d00;
 	width:35px;
 	height:22px;
 	padding-top:2px;
 	filter:alpha(opacity=50); 
 	-moz-opacity:0.5; 
 	opacity:0.5;
 }
  .style_text{
 	cursor:pointer;
 	border-radius:3px;
 	background:#5eb95e;
 	width:35px;
 	height:22px;
 	padding-top:2px;
 	filter:alpha(opacity=70); 
 	-moz-opacity:0.7; 
 	opacity:0.7;
 }
 .style_close{
 	width:30px; 
 	height:30px; 
 	right:10px; 
 	top:10px; 
 	background-color:rgba(0,0,0,0.5); 
 	position: absolute;
 	text-align:center;
 	color:#fff;
 	font-size:30px;
 	padding:8px;
 	font-weight: 100;
 	z-index:100;
 }
 .style_videowidth{
 	width:700px;
 	height:525px;
 }
 /*input不可选样式*/
 .style_input-disabled{
 	width:100%;
 	height:32px;
 	background:#eee;
 	font-size:14px;
 	padding:0 8px;
 	border:1px #e3e3e3 solid;
 	color:#999;
 	box-sizing: border-box;
 }
 /*浏览按钮变化*/
  .style_browse-div{
 	width:400px;
 	height:32px;
 	position:relative;
 }
 .style_browse{
 	width:400px;
 }
 .style_browse .webuploader-pick{
  	width:375px;
	height:22px;
	line-height:22px;
	text-align:right;
	background:none;
  }
.style_browse-div input.url_txt{
	width:295px;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:4px;
}
.style_browse-div .browse-div{
	position:absolute; 
	width:100px;
	height:31px; 
	z-index:-10; 
	top:0px; 
	right:0px; 
	background-color: #3bb4f2; 
	border-color: #3bb4f2; 
	border-radius:4px;
}
 /* 去掉树上的横线 */
.ztree .line{
	border:0px !important;
}

 /*浏览按钮变化*/
.style_browse_s-div{
 	height:32px;
 	position:relative;
 }
 .style_browse_s{
 }
 .style_browse_s .webuploader-pick{
  	width:348px;
	height:22px;
	line-height:22px;
	text-align:right;
	background:none;
  }
.style_browse_s-div input.url_txt{
	width:235px;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:4px;
}
.style_browse_s-div .browse-div{
	position:absolute; 
	width:100px;
	height:31px; 
	z-index:-10; 
	top:0px; 
	right:0px; 
	background-color: #3bb4f2; 
	border-color: #3bb4f2; 
	border-radius:4px;
}