<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edt.dao.RegionDao">
	<resultMap type="com.edt.entity.Region" id="RegionMap">
		<id property="id" column="id" />
		<result property="code" column="code" />
		<result property="province" column="province" />
		<result property="area" column="area" />
		<result property="pId" column="parent_id" />
	</resultMap>
	<select id="getProvinceByAll" resultMap="RegionMap">
		select
		province,city,area,id,parent_id from
		base_region_info where
		parent_id =
		1
	</select>
	<select id="getCityByProvinceId" parameterType="String"
		resultMap="RegionMap">
		select
		province,city,area,id,parent_id from
		base_region_info
		where
		parent_id =
		${value} and city != ''
	</select>
	<select id="getCityById" parameterType="String" resultMap="RegionMap">
		select
		province,city,area,id,parent_id from
		base_region_info where
		id =
		${value}
	</select>
	<select id="getAreaByCityId" parameterType="String" resultMap="RegionMap">
		select
		province,city,area,id,parent_id from
		base_region_info where
		parent_id =
		${value}
	</select>
	<select id="getRegionByConditon" parameterType="FindCondition"
		resultMap="RegionMap">
		select
		province,city,area,id,parent_id from
		base_region_info
		where 1=1
	</select>
</mapper>