<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edt.dao.SmsValidateCodeDao">
	<resultMap type="com.edt.entity.SmsValidateCode" id="SmsValidateCodeMap">
		<id property="id" column="id" />
		<result property="phone" column="phone" />
		<result property="code" column="code" />
		<result property="validtime" column="validtime" />
	</resultMap>
	<insert id="saveSmsValidateCode" parameterType="SmsValidateCode">
		insert into
		base_validatecode(id,phone,code,validtime)
		values(#{id},#{phone},#{code},#{validtime})
	</insert>
	<update id="updateSmsValidateCode" parameterType="SmsValidateCode">
		update
		base_validatecode
		set code = #{code},validtime=#{validtime}
		where phone
		= #{phone}
	</update>
	<select id="getSmsValidateCodeByPhone" parameterType="String"
		resultMap="SmsValidateCodeMap">
		select phone,code,validtime
		from base_validatecode
		where phone
		= #{phone}
	</select>
</mapper>