<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edt.dao.TpDao">
	<resultMap type="com.edt.entity.TpInfo" id="tpMap">
	<!--	<id property="id" column="id" />-->
		<result property="description" column="description" />
		<result property="count" column="count" />
	</resultMap>
	<select id="getTpBycondition" parameterType="FindCondition"
		resultMap="tpMap">
		select
		*
		from
		tp_info
	</select>
	<insert id="saveTpInfo" parameterType="com.edt.entity.TpInfo">
		insert into tp_info(id,description,count) values(#{id},#{description},#{count})
	</insert>
	<select id="getAllTpInfo" parameterType="FindCondition"
			resultMap="tpMap">
		select
		*
		from
		tp_info
	</select>
	<update id="incCount" parameterType="String">
		UPDATE tp_info set count = count+1 where id=#{value}
	</update>
</mapper>